﻿@using Darbas.Models

@model IEnumerable<Darbas.Pamoka>

@{
    ViewBag.Title = "Sarasas";
}

<h2>Sarasas</h2>
<div>
    <ul>
        @foreach (Pamoka pamoka in Model)
        {
            <li>
                @Html.ActionLink(pamoka.Pavadinimas, "Detales", new { @id = pamoka.Id }, null) @pamoka.Id,@pamoka.Pavadinimas,@pamoka.FailoPavadinimas,@pamoka.PraktikosID |
                @Html.ActionLink("Redaguoti", "Redaguoti", new { @id = pamoka.Id })|
                @Html.ActionLink("Trinti", "Trinti", new { @id = pamoka.Id })|
            </li>
        }
    </ul>
</div>
@Html.ActionLink("atgal i panele", "Index")