﻿@model Darbas.Pamoka

@{
    ViewBag.Title = "Prideti";
}

<h2>Prideti</h2>

@using (Html.BeginForm("Prideti", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pamoka</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Pavadinimas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pavadinimas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KategorijosID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.KategorijosID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KategorijosID, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model => model.KategorijosID, ViewData["JobTitle"] as IEnumerable<SelectListItem>, "(none)")
            </div>
        </div>

        <form action="" method="post" enctype="multipart/form-data">

            <div class="form-group">
                @Html.LabelFor(model => model.FailoPavadinimas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="Failas" id="Failas" />
                    @Html.ValidationMessageFor(model => model.FailoPavadinimas, "", new { @class = "text-danger" })
                </div>
            </div>
        </form>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoNuoroda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VideoNuoroda, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VideoNuoroda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TestoID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TestoID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TestoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PraktikosID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PraktikosID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PraktikosID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RezultatoID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RezultatoID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RezultatoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (TempData["Ikelta"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Ikelta"]</p>
}
@if (TempData["Klaida"] != null)
{
    <p class="alert alert-danger" id="successMessage">@TempData["Klaida"]</p>
}
@if (TempData["Failas"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["Failas"]</p>
}

@if (TempData["PDF"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["PDF"]</p>
}
@if (TempData["Dydis"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["Dydis"]</p>
}
@if (TempData["Nepasirinktas"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["Nepasirinktas"]</p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
