﻿@model Darbas.Pamoka

@{
    ViewBag.Title = "Detales";
}

<h2>@Html.DisplayFor(model => model.Pavadinimas)</h2>

<div width="100%" height="100%">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pavadinimas)
        </dd>

        <br />

        <dt>
            Teorinė medžiaga :
        </dt>

        <dd>
            <div class="col-lg-12 col-md-8 col-sm-4" align="center" width="100%" height="100%">
                <object class="col-lg-12 col-md-8 col-sm-4" data=@Model.FailoPavadinimas type="application/pdf" width="560" height="500" position="center"></object>
            </div>
        </dd>

        <br />

        <dt>
            Vaizdinė medžiaga:
        </dt>

        <dd>
            <div class="col-lg-12 col-md-8 col-sm-4" align="center" width="560" height="500">
                <iframe width="420" height="315" src=@Model.VideoNuoroda></iframe>
            </div>
        </dd>

        <br />

        <dt>
            Testas :
        </dt>

        <dd>
            @Html.ActionLink("Pradeti testa", "Detales", "Testas", new {id = Model.Id}, new
       {
           @class = "openDialog",
           data_dialog_id = "aboutDialog",
           data_dialog_title = "About Us"
       })
            <script type="text/javascript">

                $.ajaxSetup({ cache: false });

                $(document).ready(function () {
                    $(".openDialog").live("click", function (e) {
                        e.preventDefault();

                        $("<div></div>")
                            .addClass("dialog")
                            .attr("id", $(this)
                                .attr("data-dialog-id"))
                            .appendTo("body")
                            .dialog({
                                title: $(this).attr("data-dialog-title"),
                                close: function () { $(this).remove(); },
                                modal: true,
                                height: 250,
                                width: 400,
                                left: 0

                            })
                            .load(this.href);
                    });

                    $(".close").live("click", function (e) {
                        e.preventDefault();
                        $(this).closest(".dialog").dialog("close");
                    });
                });
            </script>
        </dd>

        <br />

        <dt>
            Praktika :
        </dt>

        <dd>
            @Html.ActionLink("Pradeti praktika", "Detales", "Praktika", new { id = Model.Id }, null)
        </dd>

        <br />

        <dt>
            Rezultatas:
        </dt>

        <dd>
            <label>Testas:</label> 0/10
            <br />
            <label>Praktika:</label> 0/10
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Grįžti į sąrašą", "Sarasas", new {id = @Model.KategorijosID}, null)
</p>
