﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programavimo mokymų sistema.</h1>
    <p class="lead">Ši sistema yra skirta savarankiškam programavimo kalbų mokymuisi.
            
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Plačiau &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Pradėkite mokytis</h2>
        <p>
            Norėdami pradėti mokytis, užsiregistruokite...
        </p>
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301865">Čia &raquo;</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Tęskite mokymo procesą</h2>
        <p>
            Prisijunkite...
        </p>
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301865">Čia &raquo;</a>
        </p>
    </div>
</div>