﻿@using Microsoft.Ajax.Utilities
<!doctype html>
<html lang="en">
<h2>Praktika</h2>
<head>
    <meta charset="utf-8">
    <title>jQuery UI Sortable - Drop placeholder</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 60%;
            
        }

        #sortable li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 50%;
            width: 50%;
            display: block;
        }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }
    </style>
    <script src="~/Scripts/jquery.ui.touch-punch.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>
    <script>
        $(function () {
            $('#sortable').sortable({
                update: function () { save_new_order() }
            });

            function save_new_order() {

                var s = $("#sortable").sortable("toArray");
                document.getElementById('mID').value = s;
            }
        });
    </script>
</head>
@using (Html.BeginForm("Detales", "Praktika", new { id = ViewBag.Id }, FormMethod.Post))
{
    <body>
    <ul id="sortable">
        @foreach (var item in ViewBag.Kls)
        {

            IHtmlString str = new HtmlString("<li class=\"ui-state-default\" id=\""+ @item +"\">" + @item + "</li>");
            @Html.Raw(str)

@*<li class="ui-state-default" id="@item">@item</li>*@
        }
    </ul>
    <input type="hidden" id="mID" name="variantas" />
        <form method="post">
            <br />
            <button class="btn btn-success" type="submit">Pateikti</button>
        </form>
    </body>
    <br />
    if (TempData["teisingas"] != null)
    {
        <p class="alert-success" id="successMessage">@TempData["teisingas"]</p>
    }
    if (TempData["neteisingas"] != null)
    {
        <p class="alert-danger" id="successMessage">@TempData["neteisingas"]</p>
    }
}
</html>
<br />
<br />
@Html.ActionLink("Atgal i pamoka", "Detales", "Pamoka", new { id = ViewBag.Id }, null)
